<div class="container">
 <div class="row">
     <div class="col-md-3">
<h2>最強の係長の自己紹介ページ</h2>
<%= image_tag 'mac.jpg', size: '250x200' %>

<ul>
   
   <li>１９６９年生まれの５１歳　千葉県育ち</li>

   <li>家族：嫁さんとワンコ１匹</li>

   <li>性格：せっかち　自分の決めたことはやり遂げないと気が済まない</li>

   <li>趣味：プログラミング</li>

</ul>

---------------------------------------------------------------------------------------------------
   
<ul>
⚾︎️私のこれまでの生き様⚾
</ul>

<ul>
　
　<li>高校卒業後　調理師の専門学校通うも　夏休みに遊び呆けてしまい挫折（泣）</li>

　<li>その後　約３年間バイトしていたファミレスで朝の６時から夜１０時まで働き１２０万円貯めて　運転免許と車を即購入</li>

　<li>２２歳で某自動車メーカーに営業職として就職</li>

　<li>３０歳で店長に昇格</li>

　<li>３８歳で退職（会社の経営が怪しくなってきたため）退職金が年収分出たため　約半年間、就職活動とプータロー生活を楽しむ（ゴルフ三昧の日々を送る）</li>

　<li>３９歳　某自動車メーカーに営業職として再就職半年後店長兼係長に昇格。その後何度か優秀販売実績店舗として表彰を受けた経験あり！</li>

　<li>４４歳　今の嫁さんと交際３ヶ月で結婚　歳の差１９歳！</li>

　<li>４９歳　会社の若手営業のスタッフの指導役として店長職を降り　係長兼任教育係を命じられる</li>

　<li>５０歳初夏　コロナで外出を控え　休みの日は読書に没頭　将来への不安を感じ始め　プログラミングをするか否か考え始める</li>

　<li>同年夏　思い切ってMacBookPro13インチ購入後　テックキャンプに入学</li>

</ul>


---------------------------------------------------------------------------------------------------------------------------------------------------------

<p class="profile"><私のプロフィールを見て感想を一言お願いします！＞</p>

<%= form_for @test, remote: true do |f| %>
  <%= f.text_field :text %>
  <%= f.submit '投稿' %>
<% end %>
<ul>
  <%= render @tests %>
</ul>

<%= link_to 'TOP画面へ', root_path %>

  </div>
 </div>
</div>